<a href="https://colab.research.google.com/github/Hfurqan980/Python_tasks/blob/main/Sesion1_Live.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
# using for loop

current_pop = 10000

for i in range (10 , 0 , -1):
  print(i,current_pop)
  current_pop = current_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

# 1/1! + 2/2! + 3/3! + ........ upto nth term

In [ ]:
# sum the nth term of the series

n = int(input("Enter n = "))

fact = 1
result = 0

for i in range(1 , n+1 ):
  fact = fact * i
  result = result + i/fact
  print(i,"/",fact, "+" , end = "" , sep = "" )
print("")

print(result)

Enter n = 5
1/1+2/2+3/6+4/24+5/120+
2.708333333333333

# Nested loop

In [ ]:
# Example -> Unique pair

for i in range(1 , 5):
  for j in range(1 ,5):
    print( i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

# Pattern 1.
#*
#**
#***

In [ ]:
# we use nested loop one for rows and one for the sterk

rows = int(input("enter rows = "))

for i  in range(1 , rows+1):
  for j in range(1 , i+1):
    print("*",end= "")
  print("")

enter rows = 5
*
**
***
****
*****

# Pattern 2.
# 1
#121
#1231
#12341
#123451

In [ ]:
#

rows = int(input("Enter rows = "))

for i in range(1 , rows + 1):
  for j in range(1 , i + 1):
    print("", end = "")
    print(j, end = "")
  for k in range(i-1, 0 , -1):
    print(k, end = "")
  print("")

Enter rows = 4
1
121
12321
1234321

# Find prime number in a range

In [ ]:
#

lower = int(input("Enter lower = "))
upper = int(input("Enter upper = "))

for i in range (lower , upper+1):
  for j in range(2 , i ):
    if i%j == 0:
      break
  else:
    print(i)

Enter lower = 10
Enter upper = 100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Styding string

1. creating string
2. Accessing string
3.

Creating string

In [ ]:
#

s = 'hello'
print(s)
s = "hell0"
print(s)
s = '''hello'''
print(s)
s = """hello"""
print(s)

hello
hell0
hello
hello

# Accessing string

In [ ]:
# Accesing String
s = "hello world"
# s = "012345678910"

# Indexing Concept
# Accesing only one string

# positive indexing
print(s[1])

# Negative indexing
print(s[-1])


# Slicing: Accessing multiple char at a time
print(s[0:5])
# print world using negative indexing
print(s[-5:])

print(s[0:6: 2])

# reverse string
print(s[::-1])

e
d
hello
world
hlo
dlrow olleh